@white: #ffffff;
@black: #000000;
@bg-darkblue: #1d2631;
@darkblue: #283645;
@pink: #d22856;
@bg-pink: #6f3750;
@lightgray: #f2f2f2;
@btn-lightpink: #f2ced5;



@font-family: "Open Sans", "Arial", "sans-serif";
@font-size-base: 14px;
@line-height: 24px;
@font-weight-b: bold;
@font-weight-n: normal;
@font-weight-l: lighter;


@mobile-widths-only: ~"(max-width: 660px)";
@tablet-widths: ~"(min-width: 700px)";
@desktop-widths: ~"(min-width: 1200px)";


