.main-nav {
    position: relative;

    width: 325px;
    min-height: 325px;
    margin: 0 auto;

    background-color: @darkblue;
  }
.main-nav__list {
  margin: 0;
  padding: 0;
  min-height: 325px;

}

//базовые стили для переключателя

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  background-color: @bg-darkblue;
  cursor: pointer;
  font-size: 0;

  border: none;

  &:hover {
    background-color: @bg-darkblue;
  }

  &:active {
    background-color: @bg-darkblue;
  }
}

//состояние закрытого переключателя - гамбургер

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
  0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba(210, 40, 86, );
  box-shadow: 0 8px 0 0 rgba(210, 40, 86, ),
  0 16px 0 0 rgba(210, 40, 86, );
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  box-shadow: 0 8px 0 0 rgba(210, 40, 86, 0.3),
  0 16px 0 0 rgba(210, 40, 86, 0.3);
}

//модификатор main-nav--closed навигация закрыта - - гамбургер

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
  0 16px 0 0 #ffffff;

}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(210, 40, 86, );
  box-shadow: 0 8px 0 0 rgba(210, 40, 86, ),
  0 16px 0 0 rgba(210, 40, 86, );
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  box-shadow: 0 8px 0 0 rgba(210, 40, 86, 0.3),
  0 16px 0 0 rgba(210, 40, 86, 0.3);
}



@media @tablet-widths {

  .main-nav {
    width: auto;
    min-height: 325px;
    margin: 0;
  }

  .main-nav__wrapper {
    .container();
  }

  .main-nav__list  {
    float: left;
    width: 660px;
    min-height: 70px; /* Временно для сетки */
  }

}



@media @desktop-widths {

  .main-nav__list {
    width: 630px;
  }

}












  //.main-nav {

//  position: relative;
//  width: auto;
//  min-height: 50px;
//
//  display: flex;
//  //flex: 1 1 0;
//}
//
//.main-nav__dropdown {
//  position: fixed;
//  top: 0;
//  right: 0;
//  left: 0;
//  bottom: 0;
//  z-index: 20;
//  display: none;
//  min-width: 320px;
//  padding-top: 15px;
//  padding-right: 16px;
//  padding-left: 16px;
//  overflow-y: auto;
//}
//
//.main-nav__toggle {
//  position: absolute;
//  top: 5px;
//  right: -190px;
//  z-index: 2;
//
//  width: 50px;
//  height: 30px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  box-sizing: content-box;
//
//  font-size: 0;
//  background-color: transparent;
//  cursor: pointer;
//  border: none;
//
//  &:hover {
//    background-color: transparent ;
//  }
//
//  &:active {
//    background-color: transparent;
//
//  }
//}
//
//.main-nav--closed .main-nav__toggle::before {
//  content: "";
//  position: absolute;
//  top: 15px;
//  left: 17px;
//
//  width: 36px;
//  height: 2px;
//
//  background-color: @white;
//  box-shadow: 0 8px 0 0 @white,
//  0 16px 0 0 @white;
//}
//
//.main-nav--closed .main-nav__toggle:active::before {
//  background-color: @pink;
//  box-shadow: 0 8px 0 0 @pink,
//  0 16px 0 0 @pink;
//}
//
//.main-nav--opened .main-nav__toggle {
//  top: 0;
//  right: auto;
//  left: 0;
//
//  &::before,
//  &::after {
//    content: "";
//    position: absolute;
//    top: 25px;
//    left: 265px;
//
//    width: 36px;
//    height: 2px;
//
//    background-color: #ffffff;
//  }
//
//  &::before {
//    transform: rotate(45deg);
//    box-shadow: none;
//  }
//
//  &::after {
//    transform: rotate(-45deg);
//  }
//
//  &:active::before,
//  &:active::after {
//    background-color: @pink;
//  }
//}
//
//.main-nav__list {
//  margin: 0;
//  padding: 0;
//  min-height: 325px;
//
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//}
//
//.main-nav_logo {
//  width: auto;
//  margin: 0;
//  padding-left: 20px;
//  display: block;
//}
//
//.main-nav__item {
//  padding-top: 25px;
//  padding-bottom: 25px;
//
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//
//  background-color: @darkblue;
//  box-shadow: 0 1px #000000, inset 0 1px rgba(255, 255, 255, 0.15);
//
//}
//
//.main-nav__link {
//  display: block;
//  font-family: @font-family;
//  font-size: 18px;
//  line-height: 32px;
//  text-align: center;
//  font-weight: @font-weight-b;
//  text-transform: uppercase;
//  color: @white;
//}
//
//.main-nav__item a[href] {
//  &:hover {
//    color: @pink;
//  }
//
//  &:active {
//    color: @bg-pink;
//  }
//}
//
//@media @mobile-widths-only {
//
//  .main-nav--closed .main-nav__item {
//    display: none;
//
//    &--active {
//      display: block;
//    }
//  }
//
//  .main-nav--closed .main-nav__user-items {
//    display: none;
//  }
//
//}
//
//.main-nav--opened  {
//  position: absolute;
//  top: 0;
//  right: 0;
//  left: 70px;
//  z-index: 10;
//
//  height: 80vh;
//
//  background-color: transparent;
//}
//
//.main-nav--opened {
//  content: "";
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: 2;
//
//  width: 7px;
//  height: 100%;
//
//  box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
//
//  .main-nav--nojs .main-nav__toggle {
//    display: none;
//
//    position: static;
//
//    height: auto;
//  }
//}
//
//  .main-nav--nojs .main-nav__item {
//    display: block;
//  }
//
//  .main-nav--nojs .main-nav__item--active a {
//    padding-right: 21px;
//    padding-left: 21px;
//
//    text-align: left;
//  }
//
//  .main-nav--nojs .main-nav__user-items {
//    display: block;
//
//    background-color: @bg-pink;
//
//}
//
//@media @tablet-widths {
//
//  .main-nav {
//    width: auto;
//    min-height: 365px;
//    margin: 0;
//  }
//
//}
//
//@media @desktop-widths {
//
//  .main-nav__items {
//    width: 650px;
//  }
//}
