.our-features {
  max-width: 320px;
  margin-top: 120px;
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: @lightgray;
}

.our-features__inner {
  .container();
}

.our-features__item {
  margin-bottom: 40px;
}

.our-features__title {
  margin-bottom: 25px;
  font-family: @font-family;
  font-size: 24px;
  line-height: @line-height;
  font-weight: @font-weight-b;
  text-align: center;
}

.our-features__text {
  font-family: @font-family;
  font-size: @font-size-base;
  line-height: @line-height;
  font-weight: @font-weight-n;
  text-align: center;
}

