.page-header {

}

.page-header__inner {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__logo {
  width: 310px;
  height: 95px;
}

@media @tablet-widths {

  .page-header {



  }

}

@media @desktop-widths {

  .page-header {



  }

}
